html
  head 
    title Welcome user
  body 
    h1 Login in to account kit 
    p User token #{access_token}
    p Expire at #{expire_at}
    p User id #{user_id}
    p Email #{email}
    p Phone #{phone}