html
  head 
    title Login Account Kit
  body 
    h1 Welcome pages
    
    #section-sms 
      select#country_code 
        option(value="+62") (+62) Indonesia 
        option(value="+65") (+65) Singapore 
        option(value="+60") (+60) Malaysia 
      input#phone_number(type="text" placeholder="Input your phone number")
      button(onclick="smsLogin()") Login via SMS

    hr 
    
    #section-email
      input#email(type="email" placeholder="Please input your email")
      button(onclick="emailLogin()") Login via email

    script(src="https://sdk.accountkit.com/en_US/sdk.js")
    script(src="/js/account-kit.js")
      
